/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header styles */
header {
  background-color: #004080;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* Navigation styles */
.nav-wrapper {
  background-color: #002060;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.nav-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-wrapper ul li {
  margin: 0 15px;
}

.nav-wrapper ul li a {
  color: white;
  text-decoration: none;
}

.nav-wrapper ul li a:hover {
  text-decoration: underline;
}

.nav-wrapper ul li img.logo {
  width: 50px;
  height: auto;
  border-radius: 50%;
}
.main {
  padding: 20px;
}

#search {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

section#search h2 {
  margin-top: 0;
}

form#search-form {
  display: flex;
  flex-wrap: wrap;
}

form#search-form label {
  flex: 1 1 100%;
  margin: 10px 0 5px 0;
}

form#search-form input {
  flex: 1 1 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-form button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#results {
  margin-bottom: 20px;
}

#results h2 {
  margin-top: 0;
}

#flights {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#flights li {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.logo {
  height: 35px;
  width: auto;
}
