body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background: linear-gradient(to right, #baeefc, #d9d3e7);
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	background: rgb(191, 222, 230);
	margin: 0;
}

nav {
	background: #aeeefc;
	display: flex;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

main {
	padding: 20px;
}

.search {
	background:  linear-gradient(to right, #66dafa, #a07bfe);
	padding: 20px;
	margin-bottom: 20px;
}

#search h2 {
	margin-top: 0;
}

#search-form label {
	display: block;
	margin-bottom: 5px;
}

#search-form input[type="text"],
#search-form input[type="date"] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

#search-form button {
	padding: 10px;
	background: #aeeefc;
	color: #fff;
	border: none;
	cursor: pointer;
}

#results {
	margin-bottom: 20px;
}

#results h2 {
	margin-top: 0;
}

#flights {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#flights li {
	background: #aeeefc;
	padding: 10px;
	margin-bottom: 5px;
}

footer {
	background: #aeeefc;
	color: #fff;
	padding: 10px;
	text-align: center;
}