body {
    font-family: Arial, sans-serif;
    background: url('https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container h2 {
    margin-bottom: 5px;
    font-size: x-large;
    color: #004080 !important;
    padding-left: 10px;
    padding-right: 10px;
}
.container h4 {
    margin-bottom: 20px;
    color: #004080;
}
.checkbox {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 5px;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox input {
    align-items: end;
    margin-right: 8px;
    color: #004080;
}

.checkbox label {
    color: #004080;
    font-size: 14px;
}
h1 {
    color: #fff;
    margin-bottom: 20px;
}

.login-box {
    background: #fff;
    min-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0.4, 0.4, 0.4, 0.6);
    border-radius: 16px;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}
.text {
    color: #004080;
    size: 30px;
}
.SIbtn{
    background-color: #004080;
    color: white;   
    padding: 6px 10px;
    margin: 8px 0;
    margin-left: 3px;
    border: none;
    border-radius:18px;
}

.SIbtn:hover {
    background-color: #306498;
}

.btn {
    background-color: #004080;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #306498;
}
