body {
    font-family: Arial, sans-serif;
    background: url("https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");    
    background-size: cover;
    display: flex;
    flex-direction: column;
}



.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #004080;
    box-shadow: 0 0 10px black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex-basis: 48%;
    margin: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.inputBox {
    margin-bottom: 20px;
}

.inputBox label {
    display: block;
    margin-bottom: 10px;
}

.inputBox input, .inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputBox input:focus, .inputBox select:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px black;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex .inputBox {
    flex-basis: 48%;
    margin: 20px;
}
body
{
  object-fit: cover;
}

.custom-cursor-default-hover {
    color:white;
}

   
